<textarea onkeyup="myFunction()" id='textarea' rows="20" cols="100"></textarea>
<div class = "	box" id = "box">Hello from the other side</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
<script src="https://code.jquery.com/jquery.js"></script>

<script> 
function myFunction(){
    console.log('Entering in myFunction');
    var content = $('textarea#textarea').val()
    
    console.log('Sending string:' + content);
    socket.emit('add', content);
}
var socket = io.connect(window.location.origin);
socket.on('text', function (data) {
	console.log("text socket called with data: " + data);
	console.log(data);
	$('#box').html(data);
	$('textarea#textarea').val(data);
	});
</script>
